<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TelepatProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A50731591BB1A54600A41090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5330CD91BB1959100271E08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5330CF21BB1959100271E08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5330CFD1BB1959100271E08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
