<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>kTelepatAPIURL</key>
	<string>http://devel-api.cloudapp.net:3000/</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1086083914753251</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1086083914753251</string>
	<key>FacebookDisplayName</key>
	<string>telepat.io</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth</string>
	</array>
	<key>kTestAppSchema</key>
	<dict>
		<key>appId</key>
		<string>REPLACE_THIS</string>
		<key>schema</key>
		<dict>
			<key>comments</key>
			<dict>
				<key>namespace</key>
				<string>comments</string>
				<key>type</key>
				<string>comments</string>
				<key>properties</key>
				<dict>
					<key>text</key>
					<dict>
						<key>type</key>
						<string>string</string>
					</dict>
				</dict>
				<key>belongsTo</key>
				<array>
					<dict>
						<key>parentModel</key>
						<string>events</string>
						<key>relationType</key>
						<string>hasMany</string>
					</dict>
				</array>
				<key>read_acl</key>
				<integer>6</integer>
				<key>write_acl</key>
				<integer>6</integer>
				<key>meta_read_acl</key>
				<integer>6</integer>
			</dict>
			<key>events</key>
			<dict>
				<key>namespace</key>
				<string>events</string>
				<key>type</key>
				<string>events</string>
				<key>properties</key>
				<dict>
					<key>text</key>
					<dict>
						<key>type</key>
						<string>string</string>
					</dict>
					<key>image</key>
					<dict>
						<key>type</key>
						<string>string</string>
					</dict>
					<key>options</key>
					<dict>
						<key>type</key>
						<string>object</string>
					</dict>
				</dict>
				<key>hasMany</key>
				<array>
					<string>comments</string>
				</array>
				<key>read_acl</key>
				<integer>7</integer>
				<key>write_acl</key>
				<integer>7</integer>
				<key>meta_read_acl</key>
				<integer>4</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
